.usaHealthLogo {
width: 300px;
  }
  
  .footer {
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .content{
    text-align: -webkit-center;
  }
  
  .title-head {
    padding-top: 3vh;
  }