@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .header {
      background-color: white;
      padding-left: 20%;
      padding-right: 20%;
    }
    
    .headerSearchBar {
      border-radius: 20px;
      flex-grow: 1;
      justify-content: center;
      /*padding-left: 15px;*/
      /*padding-right: 40px;*/
    }
    
    .headerSearchBtn {
      background-color: #062157;
      border-color: #062157;
      border-radius: 20px;
    }
    
    .headerSearchBtn:hover {
      background-color: #062157;
    }
    
    .headerSearchForm {
      flex: 1;
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
    
    .searchIcon {
      width: 20px;
      z-index: 99 !important;
    }
    
    .content{
    text-align: -webkit-center;
      }
    
      .title-head {
        padding-top: 3vh;
      }
  
      .inputfileholder{
        overflow: hidden;
        max-width: 200px;
        height: 21px;
        position: relative
    }
    
    .inputfileholder .inputfile {
        position: absolute;
        left: -90px;
        outline: none;
    }
}
  