.DirectoryPage{
    background-color: #DBE3E6;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: 0% 0%;
    opacity: 1;
    display: flex;
    flex: 1;
}
.h1{
    text-align: left;
    font-family: 'Sofia Pro';
    font-weight: bolder;
    font-style: normal;
    font-variant: normal;
    font-size: 52px/80px;
    letter-spacing: 0px;
    color: #00205b;
    opacity: 1;
}

.Container1{
    background-color: #FFFFFF;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    box-shadow: 0px 1px 8px #000029;
    display: flex;
    flex: 1;
    opacity: 1;
}

.search{
    text-align: left;
    font-family: 'Sofia Pro';
    font-variant: normal;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    letter-spacing: 0px;
    color:#707070;
    opacity: 1;
}

.table{
    background-color: white;
}