.HelpPage{
    background-color: #DBE3E6;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    opacity: 1;
    display: flex;
    flex: 1;

}

.head{
    text-align: left;
    color: #00205B;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    font-size: 48px;
    letter-spacing: 0px;
    opacity: 1;
}

.HowTo{
    background-color: #FFFFFF;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    box-shadow: 0px 1px 8px #000029;
    opacity: 1;
}

.HowToText{
    color: #00205B;
    opacity: 1;
    letter-spacing: 0px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    font-size: 32px;
    text-align: left;
}

.LeftContainer{
    background: #DBE3E6;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    border: 0.5px solid #707070;
    box-shadow: 0px 3px 6px #000029;
    border-radius: 5px;
    opacity: 1;
}

.h4{
    text-align: left;
    font-family: 'Helvicta Neue';
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    font-size: 24px;
    letter-spacing: 0px;
    color: #00205B;
    opacity: 1;

}

p{
    text-align: left;
    letter-spacing: 0px;
    color: #00205B;
    opacity: 1;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
}